@{
    ViewBag.Title = "Home Page";
}



<!-- about section -->
<section class="about_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 px-0">
                <div class="img-box">
                    <img src="~/Content/images/AboutImg.jpg" alt="">
                </div>
            </div>
            <div class="col-md-5">
                <div class="detail-box">
                    <div class="heading_container">
                        <hr>
                        <h2>
                            About The Confectionary Craving
                        </h2>
                    </div>
                    <p>
                        Welcome to The Confectionary Craving. We have a variety of your finest sweets. For yourself, your family, or friends. For a gift, a party, or to indulge on your own. We invite you to shop, save, and enjoy! 
                    </p>
                    <a class="btn button" href="@Url.Action("Index","Products")">
                        Shop
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end about section -->
<!-- fruit section -->
<section class="fruit_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <hr>
            <h2>
                Nothing But The Best
            </h2>
        </div>
    </div>
    <div class="container-fluid">
        <div class="fruit_container">
            <div class="box">
                <img src="~/Content/images/CandySkittles.jpg" alt="">
                <div class="link_box">
                    <h5>
                        Skittles
                    </h5>
                    <a href="@Url.Action("Index","Products")">
                        Buy Now
                    </a>
                </div>
            </div>
            <div class="box">
                <img src="~/Content/images/ChocolateBar.jpg" alt="">
                <div class="link_box">
                    <h5>
                        Chocolate Bar
                    </h5>
                    <a href="@Url.Action("Index","Products")">
                        Buy Now
                    </a>
                </div>
            </div>
            <div class="box">
                <img src="~/Content/images/CandyMM.jpg" alt="">
                <div class="link_box">
                    <h5>
                        M&amp;M's
                    </h5>
                    <a href="@Url.Action("Index","Products")">
                        Buy Now
                    </a>
                </div>
            </div>
            <div class="box">
                <img src="~/Content/images/ChocolatePBCups.jpg" alt="">
                <div class="link_box">
                    <h5>
                        Peanut Butter Cups
                    </h5>
                    <a href="@Url.Action("Index","Products")">
                        Buy Now
                    </a>
                </div>
            </div>
            <div class="box">
                <img src="~/Content/images/ChewyStarburst.jpg" alt="">
                <div class="link_box">
                    <h5>
                        Starburst
                    </h5>
                    <a href="@Url.Action("Index","Products")">
                        Buy Now
                    </a>
                </div>
            </div>
            <div class="box">
                <img src="~/Content/images/ChocolatePieces.jpg" alt="">
                <div class="link_box">
                    <h5>
                        Chocolate Pieces
                    </h5>
                    <a href="@Url.Action("Index","Products")">
                        Buy Now
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end fruit section -->